<h1>Edit: <%= @user.name %></h1>

<%= render 'form' %>

<h2>Bot Activity Log</h2>
<table class="table table-bordered table-responsive table-striped">
  <tbody>
  <% @activities.each do |activity| %>
      <tr>
        <td><%= raw get_statement(activity) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%#= link_to 'Back', users_path %>
